In [1]:
import pandas as pd
import matplotlib.pyplot as plt

!wget https://raw.githubusercontent.com/Abdullahfoysal/pp11-Project-AnalyzeAndVisualize/refs/heads/main/student_data.csv

--2024-12-20 18:33:16--  https://raw.githubusercontent.com/Abdullahfoysal/pp11-Project-AnalyzeAndVisualize/refs/heads/main/student_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 133023 (130K) [text/plain]
Saving to: ‘student_data.csv’

student_data.csv    100%[===================>] 129.91K  --.-KB/s    in 0.01s

2024-12-20 18:33:16 (8.48 MB/s) - ‘student_data.csv’ saved [133023/133023]

In [8]:
# Find the top 5 students with the highest CGPA

student_data = pd.read_csv("student_data.csv")

top_5_students = student_data.nlargest(5, 'cgpa')

print(top_5_students)

      id first_name last_name                        email    gender  \
35    36      Keith     Piner              kpinerz@fda.gov      Male
461  462     Willow  Heggadon          wheggadonct@home.pl    Female
34    35     Darsie     Suter             dsutery@dell.com    Female
268  269      Henri  Bratcher    hbratcher7g@bigcartel.com  Bigender
470  471     Terrye   Bointon  tbointond2@surveymonkey.com    Female

         ip_address  cgpa  passing_year   department  attendance  \
35      213.60.85.1  4.00        2020.0     Medicine       72.63
461   231.176.34.59  4.00        2003.0         Arts        2.02
34   122.171.78.159  3.99        2009.0         Arts         NaN
268      31.1.33.54  3.99        2012.0         Arts       19.98
470  122.126.248.52  3.99        2024.0  Engineering       74.31

    home_district  abroad_study  student_id  graduation_date  \
35        Houston          True          36             2016
461       Chicago         False         462             2007
34    Los Angeles         False          35             2009
268       Chicago          True         269             2015
470      New York         False         471             2012

    study_abroad_country study_abroad_city  hsc_gpa  ssc_gpa
35                 China          Songyuan        3        3
461         South Africa           Midrand        4        5
34             Indonesia            Dlemer        2        3
268                 Peru            Iquipi        4        1
470               Canada    Saint-Ambroise        5        2